{% extends 'base.html.twig' %}

{% block title %}Sign Up - Tickify{% endblock %}

{% block content %}
<section class="auth">
  <h2>Create Your Tickify Account</h2>
  <form method="post" action="#">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter your name" required>

    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Create a password" required>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

  <p class="switch">
    Already have an account? <a href="?page=login">Login here</a>
  </p>
</section>
{% endblock %}
